
<div *ngFor="let cardsRow of cards">  
  <div class="row m-5">
    <div class="col-sm-4" *ngFor="let card of cardsRow; let i = index">
      <div class="card m-4 m-4 text-center">
        <div class="card-body">
          <h5 class="card-title">{{card.title}}</h5>
          <p class="card-text">{{card.heading}}</p>      
          <a [routerLink]="['/angular/project', card.project]" href="#" style="margin: 20px">Explore</a>
          <a *ngIf="card.tutorial" [routerLink]="[card.tutorial]" href="#" style="margin: 20px">Tutrial</a>
          <!-- <img src="assets/img/github_log.png" alt="Code"> -->
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
    </div>
  </div>
</div>