

<div class="row" style="height: 100%;">
  <div class="col-md-9">
    <aws-ngx-gist #ngxgist [gistId]="'tsemach/' + gistId"></aws-ngx-gist>
  </div>  
  <div class="col-md-3 pt-2">
    <app-aws-description></app-aws-description>
  </div>
</div>



<!-- <split direction="horizontal" gutterSize="5">  

    <split-area size="70">

     <div class="row" style="height: 100%;">
  
    <aws-ngx-gist #ngxgist [gistId]="'tsemach/' + gistId"></aws-ngx-gist>
  
</div>
      
          

    </split-area>
        
    <split-area size="30">
              <app-aws-description></app-aws-description>
          
            
    </split-area>
    
  </split>
   -->