
<!-- There are two ways of creating the routes
  1) by using topbar component
  2) by using routeLink property with bootstrap nav
  3) programmatic by using Route service 
-->

<!-- Option 1) using topbar component -->
<!-- <app-topbar-navbar-brand></app-topbar-navbar-brand> -->

<!-- Option 2) using nav and call to routeLink -->
<!-- <ul class="nav ">
  <li class="nav-item active" routerLinkActive="active">
    <a class="nav-link" [routerLink]="['tunnel']">Tunnel</a>
  </li>
  <li class="nav-item" routerLinkActive="active">
    <a class="nav-link" [routerLink]="['histogram']">Histogram</a>
  </li>
  <li class="nav-item dropdown" dropdown>
      <a class="nav-link dropdown-toggle" dropdownToggle>Examples <span class="caret"></span></a>
      <ul *dropdownMenu class="dropdown-menu" role="menu">
          <li *ngFor="let ex of examples" [class.active]="router.isActive(ex.path, true)">
              <a class="dropdown-item" [routerLink]="ex.path" [innerHTML]="transform(ex.label)"></a>
          </li>
      </ul>
  </li>
</ul> -->

<div class="split-simple">
  <split [direction]="direction" disabled=true gutterSize="1">
    <split-area size="12">         
      <app-python-left-menu></app-python-left-menu>
    </split-area>
    <split-area size="88" disabled=true>
      <app-topbar-nav></app-topbar-nav>  
      <router-outlet></router-outlet> 
    </split-area>
  </split>
</div>
