
a.navbar-brand,
a.navbar-brand:hover {
  font-weight: bold;
  color: #ffc421;  
}
    
li > a {
  cursor: pointer;
}

ul.dropdown-menu > li > a:active,
ul.dropdown-menu > li.active > a {
  background-color: #eeeeee;
  cursor: default;
  color: #000000;
}

.navbar-toggler {
  float: right;
  margin-right: 120px;
}

@media (max-width: 992px) {
  .container-fluid {
    padding-left: 0;
  }
  a.navbar-brand {
    margin-right: 0;
  }
}