<app-angular-observer-tutorial-header></app-angular-observer-tutorial-header>

<app-angular-observer-tutorial-first></app-angular-observer-tutorial-first>
<hr>
<app-angular-observer-tutorial-second></app-angular-observer-tutorial-second>
<hr>
<!-- 
<button class="btn btn-primary mx-4 mx-4">Next</button>
<div class="card-group">  
  <div class="card m-4 text-left">
    <div class="card-header"><strong>Fisrt define an observerable</strong></div> 
    <div class="card-body" style="background-color: #eee">
      <codemirror class="CodeMirror" [(ngModel)]="define_observable_code" [config]="config_code" ></codemirror> 
    </div>  
  </div>
  <div class="card m-4 text-left">
    <div class="card-header"><strong>An Observerable Definition</strong></div> 
    <div class="card-body" style="background-color: #eee">
      <codemirror class="CodeMirror" [(ngModel)]="define_observable_explain"></codemirror> 
    </div>  
  </div>
</div>
   -->
  

