
<!-- <div style="margin-top: 0px; height: 88%; " >  -->
<!-- <div class="div"> 
  <h4 class="h4">Decscription Python-View</h4>  
  <pre  class="pre">{{description}}</pre>
</div>  -->

<div class="card border-bottom-0">
  <div class="card-header"><strong>Decscription</strong></div>
  <div class="card-body">
    <pre  class="pre">{{description}}</pre>
    <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
    <!-- <p class="card-text">{{ description }}</p> -->
    <a *ngIf="from.length > 0" href="{{from}}" class="card-link">resource</a>
  </div>
</div>
