
/* level 1*/
/* #sidebar .list-group .collapse .list-group-item  {
  padding-left: 20px;
} */

/* level 2*/
/* #sidebar .list-group .collapse > .collapse .list-group-item {
  padding-left: 30px;
} */

/* level 3*/
/* #sidebar .list-group .collapse > .collapse > .collapse .list-group-item {
  padding-left: 40px;
} */