a {
  color: darkslateblue;  
}

/* sp-ex-changelog h1 {
  font-size: 24px;
  border-bottom: 1px solid #ddd;
  color: #777777;
  padding-bottom: 15px;
  margin-top: 35px;
} */

/* sp-ex-changelog h3 {
  font-size: 20px;
}
sp-ex-changelog p {
  font-size: 16px;
} */

.split-simple {
  /* height: 700px;    */
  outline: 7px solid #EEEEEF;
  margin: 0px;

  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  overflow: hidden;
  position: fixed;
}

split-area > p {
  padding: 15px;
}