
<!-- <div class="card border-secondary mb-3" style="max-width: 600px"> -->
<div class="col col-sm-12">

<div class="card w-100">
  <div class="card-header">Description</div>
  <div class="card-body text-secondary">
    <h5 class="card-title">Secondary card title</h5>
    <pre class="card-text">Some quick sdvsdvsdvsdvexample text to build on the card ti
      tle and make up the bulk of the card's content.
      tle and make up the bulk of the card's contensvdsfvedft. sdvsdv
      tle and make up the bulk of the card's content.dfb 
    </pre>
  </div>
</div>

</div>


