
<div *ngFor="let dir of directories">
  
  <button class="dropdown-btn" *ngIf="dir.name !== '.'" appDropdownDirective>{{ dir.name }} 
    <i class="fa fa-caret-down"></i>
  </button>  

  <div class="dropdown-container">
    <tree-view [directories]="dir.directories" [source]="source"></tree-view>

    <div *ngFor="let file of dir.files" class="dropdown-container">
      <ng-template *ngIf="dir.getId(file) == 'undefined'; then withFullPath; else withId"></ng-template>      

      <ng-template #withFullPath>
        <a [routerLink]="[source, dir.fullpath + '/' + file]" class="dropdown-btn">{{ file }} </a> 
      </ng-template>

      <ng-template #withId>
        <a [routerLink]="[source, dir.getId(file)]" class="dropdown-btn">{{ file }} </a>
      </ng-template>

    </div>                

  </div>  

</div>

<!-- <a [routerLink]="[source, dir.getId(file)]" class="dropdown-btn">{{ file }} </a> -->

