<div class="sidenav">
    <a href="#">About</a>
    <a href="#">Services</a>
    <a href="#">Clients</a>
    <a href="#">Contact</a>
    <!-- <button class="dropdown-btn" (click)="onDropdown($event)">Don't Work  -->
    <button class="dropdown-btn" appDropdownDirective>Don't Work 
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-container">
      <a href="#">Link 1</a>
      <a href="#">Link 2</a>
      <a href="#">Link 3</a>
    </div>
    <button class="dropdown-btn" appDropdownDirective>Don't Work 
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-container">
      <a href="#">Link 1</a>
      <a href="#">Link 2</a>
      <a href="#">Link 3</a>
    </div>      
    <a href="#">Search</a>
  </div>

  
  